/* line 3, ../sass/_forms.scss */
#formulaire_forum {
  color: #66c;
}
/* line 9, ../sass/_variables.scss */
#formulaire_forum:before {
  display: block;
  content: '';
  height: 0.5em;
  margin-bottom: 0.2em;
  width: 2.4em;
  background-color: #66c;
}

/* line 8, ../sass/_forms.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* line 13, ../sass/_forms.scss */
legend {
  font-weight: bold;
}

/* line 17, ../sass/_forms.scss */
form ul, form li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

/* line 24, ../sass/_forms.scss */
input[type=text], textarea {
  width: 90%;
  display: block;
}

/*
 =LAYOUTS
 */
/* line 10, ../sass/styles.scss */
body {
  font-family: Arial,Helvetica,sans-serif;
  color: #222;
  background: #fff;
  margin: 0;
  padding: 1em 5%;
  border-top: 0.5em #66c solid;
  border-bottom: 0.5em #66c solid;
  font-size: 1em;
}

/* line 21, ../sass/styles.scss */
.outer {
  width: auto;
  margin: auto;
  max-width: 60em;
}

/*
 =BLOCKS
 */
/* line 30, ../sass/styles.scss */
h1, h2 {
  font-family: 'Book Antiqua', Garamond, Times, serif;
}
/* line 32, ../sass/styles.scss */
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited {
  color: inherit;
}

/* line 36, ../sass/styles.scss */
h1 {
  font-size: 2em;
  color: #66c;
}
/* line 9, ../sass/_variables.scss */
h1:before {
  display: block;
  content: '';
  height: 0.25em;
  margin-bottom: 0.1em;
  width: 1.2em;
  background-color: #66c;
}

/* line 40, ../sass/styles.scss */
h2 {
  font-size: 1.5em;
  color: #66c;
}
/* line 9, ../sass/_variables.scss */
h2:before {
  display: block;
  content: '';
  height: 0.33333em;
  margin-bottom: 0.13333em;
  width: 1.6em;
  background-color: #66c;
}
/* line 23, ../sass/_variables.scss */
li h2:before {
  display: none;
}

/* line 47, ../sass/styles.scss */
h3 {
  font-size: 1em;
}

/* line 51, ../sass/styles.scss */
blockquote {
  font-style: italic;
  margin-left: -5.5555556%;
  margin-right: -5.5555556%;
  overflow: hidden;
  background: #eee;
}
/* line 56, ../sass/styles.scss */
blockquote > * {
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (min-width: 30em) {
  /* line 51, ../sass/styles.scss */
  blockquote {
    margin-left: 3em;
    margin-right: 3em;
    overflow: inherit;
    background: none;
    color: #444;
  }
  /* line 65, ../sass/styles.scss */
  blockquote > * {
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 72, ../sass/styles.scss */
blockquote q, blockquote em {
  font-style: normal;
}
/* line 75, ../sass/styles.scss */
blockquote footer {
  font-style: normal;
}
/* line 77, ../sass/styles.scss */
blockquote footer q, blockquote footer em {
  font-style: italic;
}

/* line 83, ../sass/styles.scss */
figure {
  margin: 1em 0;
}

/* line 88, ../sass/styles.scss */
p.compterforums {
  display: none;
}

/*
 =things
 */
/* line 95, ../sass/styles.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 99, ../sass/styles.scss */
hr {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
