article {
	@media screen and (min-width: 50em) {
		aside {
			float:right;
			width:15em;
			margin-left:.5em;
			&::before {
				@include heading-decoration(1em,15%);
				margin-top:0;
			}
		}
	}
	@media screen and (min-width: 62em) {
		aside {
			margin-left:0;
		}
		section {
			margin-right:17em;
		}
		section.descriptif {
			margin-right:(17em / 1.5em *1em);
		}

	}
}

/*
 = prev / next
 */

.prevnext {
	@extend .invertedcolors;
	a:link, a:visited {
		display:block;
		padding: .5em;
	}
	@media screen and (min-width: 30em) {
		& {
			padding-top:0;
			padding-bottom:0;
		}
		ul, li {
			margin:0;
			padding:0;
			display: flex;
			flex:1;
		}
		ul {
			margin: auto;
		}
		a:link, a:visited {
			flex:1;
			text-transform: uppercase;
			font-size:.75em;
		}
		a[rel=prev]:link, a[rel=prev]:visited {
			padding: 1em 1em 1em .2em;
		}
		a[rel=next]:link, a[rel=next]:visited {
			padding: 1em .2em 1em 1em;
			text-align: right;
		}
		span {
			display: block;
			text-align: inherit;
			font-weight: bold;
			text-transform: none;
			font-size: 1.333em;
		}

	}
}