

/* =========== Citations */

blockquote {
	font-style: italic;
	background: var(--color-bg-subdued);
	margin:0 -.5em;
	padding:.5em .5em .5em 2em;
	.forum & {
		background: inherit;
		margin: 0;
	}

	q, em, i {
		font-style: normal;
	}
	footer {
		font-style: normal;
		q, em, i {
			font-style: italic;
		}
	}

}

cite {
	font-style: italic;
}