
/* ================ Links */
a:link {
	text-decoration:underline;
	color: var(--color-base-dark);
}

a:visited {
	text-decoration:underline;
	color: var(--color-base-dark);
}

a, button, input, select, submit, textarea, [tabindex]:not([tabindex="-1"]) {
	outline: 2px solid transparent;
	outline-offset: 5px;
	-webkit-transition: outline-offset .2s linear;
	transition: outline-offset .2s linear;
}

a:focus, button:focus, input:focus, select:focus, submit:focus, textarea:focus, [tabindex]:not([tabindex="-1"]):focus {
	outline-color: currentColor;
	outline-offset: 2px;
}