

/* =============== Headings */
@mixin headings {
	font-family: $font-headings;
}

h1 {
	@include headings;
	font-size:2em;
}
h2 {
	@include headings;
	font-size:1.5em;
}
h3 {
	@include headings;
	font-size:1.2em;
}