header {
	overflow:hidden;
}
svg {
	min-width:26em;
	width:100%;
	height:auto;
	display: block;
}
path { fill:#000; }
.decoration { fill:#333; }
#logo-big { display:none;}
@media screen and (min-width: 27em) {
	#logo-big {display:inherit;}
	#logo-small {display: none;}
}
@media screen and (min-width: 48em) {
	#logo {
		width:48em;
	}
	#breadcrumbs {
		margin-top:-2.4em;
		margin-bottom: 1.3em;
		width:37em;
		a, .breadcrumb {
			padding:.5em;
		}
	}

}