.photos, .rubrique15 main {
	ul, li {
		display:inline;
	}
	.listitem {
		float:left;
	}
	&::after {
		clear:both;
		display:block;
		content:' ';
	}
	@supports(display:flex) {
		ul {
			display:flex;
			flex-flow: row wrap;
			justify-content: space-around;

		}
		.listitem {
			flex:1 0 auto;
			margin:1em;
			line-height: 1;
			text-align: center;
			// width:320px;
		}
	}
}