/* ========= Structure */

body {
	font-size:1em;
	font-family:$font-base;
	color: var(--color-text-stronger);
	background: var(--color-bg);
	margin:0;
	padding:0;
}

.outer {
	padding:0 .5em;
}

/* ========================= Header */

@media screen and (min-width: 44em) {
	#logo {
		max-width:44em;
		margin: auto;
		position: relative; // needed to leave a protection around breadcrumb links
	}
	#tagline,#breadcrumbs {
		position: relative; // needed to leave a protection around breadcrumb links
		margin-top:-3.4em;
		margin-bottom: 1.3em;
		width:37em;
		padding:1em 1em 1em 0;
	}

}