// Color variables

:root {
	--color-bg:#fff;
	--color-text:#333;
	--color-text-stronger:#000;
	--color-bg-subdued:#eee;
	--color-base : #333;
	--color-base-light : var(--color-bg-subdued);
	--color-base-dark : #333;
}

$font-base: Arial,Helvetica,sans-serif;
$font-headings: Georgia, "Times New Roman", serif;
