// Color variables

:root {
	--color-bg:#fff;
	--color-text:#333;
	--color-text-mobile:#000;
	--color-bg-default:#eee;
	--color-base : #333;
	--color-base-light : var(--color-bg-default);
	--color-base-dark : #333;
}