//_variables.scss

$fontcolor:#333;
$bordercolor:#ccc;
$borderstyle:$bordercolor solid;

@mixin heading-decoration($fs:1em) {
	border-bottom:(0.0625em / $fs * 1em) $borderstyle;
	// padding-top: (0.7em / $fs * 1em);
	// &:before {
	// 	display:block;
	// 	content:'';
	// 	height:(0.5em / $fs * 1em);
	// 	margin-bottom: (0.2em / $fs * 1em);
	// 	width:(2.4em / $fs * 1em);
	// 	background-color: $bordercolor;
	// }
	color: $fontcolor;
}

@mixin heading-decoration-none {
	// border-top:none;
	// padding-top: 0;
	&:before {
		display: none;
	}
}