//styles.scss

@import "variables";
@import "forms";
@import "logo";
@import "lists";

/*
 =LAYOUTS
 */
body {
	font-family: Arial,Helvetica,sans-serif;
	color: #222;
	background: #fff;
	margin:0;
	padding:1em 5%;
	$borders:0.5em $borderstyle;
	border-top: $borders;
	border-bottom: $borders;
	font-size: 1em;
}
.outer {
	width:auto;
	margin:auto;
	max-width:60em;
}

/*
 =BLOCKS
 */
h1,h2 {
	font-family: 'Book Antiqua', Garamond, Times, serif;
	& a:link, & a:visited {
		color:inherit;
	}
}
h1 {
	font-size:2em;
	@include heading-decoration(2em);
}
h2 {
	font-size: 1.5em;
	@include heading-decoration(1.5em);
	li & {
		@include heading-decoration-none;
	}
}
h3 {
	font-size: 1em;
}

blockquote {
	font-style: italic;
	margin-left:-5.5555556%;
	margin-right:-5.5555556%;
	overflow: hidden;
	& > * {
		margin-left: 5%;
		margin-right: 5%;
	}
	background: #fcfcfc;
	@media screen and (min-width: 30em) {
		border-left: (1/16)*1em solid $bordercolor;
		margin-left: (15/16 + 2)*1em;
		margin-right: 3em;
		padding:0.5em 1em;
		overflow: inherit;
		> * {
			margin-left:auto;
			margin-right:auto;
		}
		color:#444;
	}
	q, em {
		font-style: normal;
	}
	footer {
		font-style: normal;
		q, em {
			font-style: italic;
		}
	}
}

figure {
	margin:1em 0;

}

p.compterforums {
	display:none;
}

/*
 =things
 */
a:link, a:visited {
	color:#000;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
	visibility: hidden;
	border:0;
	&::after {
		display:block;
		visibility: visible;
		content: " ";
		height:0px;
		overflow: hidden;
		@include heading-decoration();
	}
}