

body {
	font-size:1em;
	font-family:Arial,Helvetica,sans-serif;
	color: var(--color-text-mobile);
	background: var(--color-bg);
}

h1, h2, h3 {
	font-family: Garamond, "Times New Roman", serif;
}

a:link {
	text-decoration:underline;
	color: var(--color-link);
}

a:visited {
	text-decoration:underline;
	color: var(--color-link-visited);
}