

<h2 class="spip">
Paragraphes
Plein de caractères majuscule accentués : ÀÈÇÉœŒæÆ.</h2>
<p>Premier paragraphe. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
<br>Ici, retour à la ligne, généré par le raccourci SPIP «&nbsp;<code dir="ltr" class="spip_code">_ </code>&nbsp;». Espace&nbsp;insécable.</p>
<p>Second paragraphe. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue.</p>
<hr class="spip">
<p>Troisième paragraphe, précédé d’une ligne horizontale de séparation, générée par le raccourci SPIP «&nbsp;<code dir="ltr" class="spip_code">----</code>&nbsp;». Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.</p>

<h2 class="spip">
Un intertitre normal</h2>
<p>Voici du <i>texte en italique</i> et du <strong>texte en gras</strong>.
<br>Voici un <del>texte supprimé</del> et le <ins>texte inséré en correction</ins>.
<br>Une <dfn>définition</dfn> de terme avec la balise <code dir="ltr" class="spip_code">&lt;dfn&gt;</code>.
<br>Un sigle, par example <abbr title="World Wide Web Consortium" lang="en">W3C</abbr>, est lu lettre par lettre, tandis que <acronym title="Système de Publication pour Internet">SPIP</acronym> est un acronyme puisqu’il forme un mot qui est lu normalement.</p>
<p><bdo dir="ltr">Texte de gauche à droite</bdo> et <bdo dir="rtl">Texte de droite à gauche</bdo> avec <code dir="ltr" class="spip_code">&lt;bdo&gt;</code>.
<br>Mise en exposant <sup>2</sup> et mise en indice&nbsp;: <abbr>H<sub>2</sub>O</abbr>.
<br>Et voici une note de bas de page&nbsp;[<a id="nh1" title="Une note de bas de page est, habituellement, signalée par un numéro placé à&nbsp;(...)" rel="footnote" class="spip_note" href="#nb1">1</a>].</p>
<ul class="spip"><li> Ici, example de raccourci SPIP «&nbsp;<code dir="ltr" class="spip_code">- </code>&nbsp;», corrigé par la <a class="spip_in" href="tetue_trousse">trousse à têtue</a> pour former une liste.</li></ul>
<p><img alt="-" class="puce" src="local/cache-vignettes/L15xH15/puce-dbdea.gif" height="15" width="15">&nbsp;Ici, example de puce générée par le raccourci «&nbsp;<code dir="ltr" class="spip_code">* </code>&nbsp;» de la <a class="spip_in" href="tetue_trousse">trousse à têtue</a>. Attention, leur succession ne constitue pas une liste&nbsp;!</p>
<p>—&nbsp;Un tiret long, généré par le raccourci SPIP «&nbsp;<code dir="ltr" class="spip_code">--</code>&nbsp;», utile pour les dialogues.</p>

<h2 class="spip">
Hyperliens</h2>
<p>SPIP distingue <a class="spip_in" href="cv">lien interne</a> et <a rel="external" title="Bonne pratique Opquast N°129" class="spip_out" href="http://checklists.opquast.com/11/criteria/628/">liens externes</a> dont URLs directes&nbsp;: <a rel="external" class="spip_url spip_out" href="http://www.spip.net">http://www.spip.net</a>, et lien généré par le raccourci <code dir="ltr" class="spip_code">[-&gt;site2]</code>&nbsp;: <a rel="external" class="spip_out" href="http://www.tetue.net"> site 2</a>.
<br>Mieux vaut spécifier la langue de destination, par example&nbsp;: <a rel="external" title="Système de Publication pour Internet" hreflang="ja" class="spip_out" href="http://www.spip.net/ja">SPIP</a>.
<br>Lien vers une définition du glossaire prédéfini&nbsp;: <a rel="external" class="spip_glossaire" href="http://fr.wikipedia.org/wiki/Wikip%C3%A9dia">Wikipédia</a>
<br>Courriel&nbsp;: <a class="spip_mail" href="mailto:moi@moi.org">moi@moi.org</a>
<br>Une ancre vers les citations&nbsp;: <a class="spip_ancre" href="#citations">#citations</a></p>

<h2 class="spip">
Listes</h2>
<p>Liste non ordonnée (<code dir="ltr" class="spip_code">ul</code>), générée avec le raccourci SPIP «&nbsp;<code dir="ltr" class="spip_code">-* </code>&nbsp;»&nbsp;:</p>
<ul class="spip"><li> Élément de liste non numérotée</li><li> Élément de liste non numérotée</li><li> Élément de liste non numérotée<ul class="spip"><li> Plantes<ul class="spip"><li> Ficus</li><li> Olivier</li></ul></li><li> Animaux de compagnie<ul class="spip"><li> Chat</li><li> Chien</li></ul></li></ul></li></ul>
<p>Et une liste numérotée (<code dir="ltr" class="spip_code">ol</code>), générée avec le raccourci SPIP «&nbsp;<code dir="ltr" class="spip_code">-# </code>&nbsp;»&nbsp;:</p>
<ol class="spip"><li> Voici ma main&nbsp;: elle a cinq doigts. En voici deux, en voici trois.
<br>Le premier, ce gros bonhomme, C’est le pouce qu’il se nomme.</li><li> L’index qui montre le chemin, Est le second doigt de la main.</li><li> Entre l’index et l’annulaire, Le majeur paraît un grand frère.</li><li> L’annulaire porte l’anneau, Avec sa bague, il fait le beau.</li><li> Le tout petit auriculaire Marche à côté de l’annulaire.</li></ol>
<p>Regardez mes doigts travailler. Chacun fait son petit métier.</p>
<p>N’oublions pas les listes de définition, générées avec les balises HTML <code dir="ltr" class="spip_code">&lt;dl&gt;</code>, <code dir="ltr" class="spip_code">&lt;dd&gt;</code>, <code dir="ltr" class="spip_code">&lt;dt&gt;</code>&nbsp;:</p>
<dl class="spip">
<dt>polatouche (n.m.)</dt>
<dd><span style="float:right; width:353px;" class="spip_document_1406 spip_documents spip_documents_right">
<img title="SPIP" alt="SPIP" src="http://www.spip.net/IMG/siteon0.jpg" height="120" width="353"></span>Mammifère rongeur omnivore méconnu d’Eurasie ou d’Amérique du Nord, dit «&nbsp;écureuil volant&nbsp;» car il est capable de planer en ligne droite d’un arbre à l’autre grâce à son patagium (membrane qui réunit ses pattes à son corps). Pelage gris et blanc.</dd>
<dt>écureuil (n.m.)</dt>
<dd>Petit rongeur arboricole d’Europe à longue queue très touffue, excellent grimpeur, capable de sauts très étendus, amassant des provisions pour l’hiver et aisément familier de l’homme. Pelage gris ou roux.</dd>
</dl>

<h2 class="spip">Une structure <code>figure</code> / <code>figcaption</code></h2>

<figure>
	<span class="spip_document_509 spip_documents">
		<img src="/IMG/jpg/ferme1.jpg" alt="" height="533" width="800">
	</span>
	<figcaption>Des champs dans la brume</figcaption>
</figure>

<h2 class="spip">
Tableaux</h2>
<table summary="summary" class="spip">
<caption>Titre du tableau (caption)</caption>
<thead><tr class="row_first"><th scope="col">entête</th><th scope="col">entête</th><th scope="col">entête</th></tr></thead>
<tbody>
	<tr class="row_even">
		<td> valeur </td>
		<td> valeur </td>
		<td> valeur </td>
	</tr>
	<tr class="row_odd">
		<td> valeur </td>
		<td> valeur </td>
		<td> valeur </td>
	</tr>
	<tr class="row_even">
		<td> valeur </td>
		<td> valeur </td>
		<td> valeur </td>
	</tr>
</tbody>
</table>
<p><a name="citations"></a></p>

<h2 class="spip">
Citations</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <q>Ceci est une citation au fil du texte (avec la balise HTML <code dir="ltr" class="spip_code">&lt;q&gt;</code>)</q>.</p>
<blockquote>Ceci est une citation ordinaire, avec la balise HTML <code dir="ltr" class="spip_code">&lt;blockquote&gt;</code>. Cras eleifend tristique quam. Fusce gravida lectus vel enim convallis tempor.
<p>Second paragraphe. Maecenas laoreet interdum elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus tristique wisi ut lacus.</p>
</blockquote>
<blockquote class="spip">
<p>Ceci est une citation générée avec le raccourci SPIP <code dir="ltr" class="spip_code">&lt;quote&gt;</code>.</p>
<p>Je ne connaîtrai pas la peur car la peur tue l’esprit. La peur est la petite mort qui conduit à l’oblitération totale. J’affronterai ma peur. Je lui permettrai de passer sur moi, au travers de moi. Et lorsqu’elle sera passée, je tournerai mon œil intérieur sur son chemin. Et là où elle sera passée, il n’y aura plus rien. Rien que moi.
<br>—&nbsp;<i>Litanie contre la peur, <cite>Dune</cite>, Franck Herbert.</i></p>
</blockquote>
<blockquote class="spip_poesie">
<div>Je le vis, je rougis, je pâlis à sa vue</div>
<div>Un trouble s’éleva dans mon âme éperdue</div>
<div>Mes yeux ne voyaient plus, je ne pouvais parler</div>
<div>Je sentis tout mon corps et transir et brûler.</div>
<div>&nbsp;</div>
<div>Ceci est une citation du <cite>Phédre</cite> de Racine, générée avec le raccourci&nbsp;SPIP <code dir="ltr" class="spip_code">&lt;poesie&gt;</code>, idéal pour les vers des poèmes et chansons.</div>
</blockquote>
<p>Maecenas mollis. Et voici du code, généré avec le raccourci SPIP <code dir="ltr" class="spip_code">&lt;code&gt;</code>&nbsp;:</p>
<div dir="ltr" class="spip_code" style="text-align: left;"><code>&lt;?php<br>
&nbsp; &nbsp; // ceci est du langage php<br>
&nbsp; &nbsp; echo "bonjour";<br>
?&gt;</code></div>
<form method="get" action=""><div>
<input value="" name="exec" type="hidden">
<textarea dir="ltr" class="spip_cadre" rows="7" cols="40" readonly="readonly">Le raccourci SPIP &lt;cadre&gt; permet publier des extraits de code que l'on peut facilement copier-coller.
&lt;?php
// ceci est du langage php
echo "au revoir";
?&gt;</textarea></div></form>
<p>Sans oublier un <kbd>raccourci-clavier</kbd> (<code dir="ltr" class="spip_code">&lt;kbd&gt;</code>), un <samp>extrait de script</samp> (<code dir="ltr" class="spip_code">&lt;samp&gt;</code>) et une <var>variable</var> (<code dir="ltr" class="spip_code">&lt;var&gt;</code>).</p>
<p>Et pour finir en beauté, voici une formule mathématique, générée avec <code dir="ltr" class="spip_code">&lt;math&gt;</code>&nbsp;:
<img title="a = \sqrt{b^{2} + c^{2}}" alt="a = \sqrt{b^{2} + c^{2}}" style="vertical-align:middle;" src="local/cache-vignettes/L85xH38/2116f89d10912f6a1d7450bdedb515e3-465ca.png" height="38" width="85"></p>

<h2 class="spip">
À éviter</h2>
<p>Ces balises ne doivent plus être utilisées car elles sont dépréciées en XHTML&nbsp;1.0 Strict&nbsp;: <basefont>example de basefont, <font>example de font</font>, <u>example de u</u>, <s>example de s</s>, <strike>example de strike</strike>, etc. Celles-ci sont déconseillées&nbsp;: <b>example de b</b>, <i>example de i</i>, <big>example de big</big>, <small>example de small</small>, <tt>example de tt</tt>.</p>
