// Polices et couleurs
//
// --------------------
//
// Un partial spécifique pour toutes les polices et couleurs, pour tester la méthode
//
// Styleguide fonts_colors

$serif: Georgia,Cambria,"Times New Roman",Times,serif;
$sans: Arial,Helvetica,sans-serif;
$color_prime: #333;
$color_prime_contasted: #000;
$color_second: #fff;

// Body
//
// Toutes les couleurs par défaut
//
// Styleguide fonts_colors.body

body { font-family: $serif; background: $color_second; color: $color_prime; }