// Général
//
// ------------------
//
// Styles par défaut pour tous les composants
//
// Sont utilisés avant de faire du RWD, approche *mobile-first*
//
// Styleguide 1

// Constants
//
// Constantes dans le projet
//
// Styleguide 1.constants

$serif: Georgia,Cambria,"Times New Roman",Times,serif;
$serif_richer: "Palatino Linotype",Baskerville,Georgia,Cambria,"Times New Roman",Times,serif;
$sans: Arial,Helvetica,sans-serif;
$color_prime: #333;
$color_prime_contasted: #000;
$color_second: #fff;
$base-font-size: 16px; // to be converted to em using the em() mixin


// Body
//
// Style par défaut pour tous les documents
//
// Styleguide 1.body

body {
	font-family: $serif_richer;
	background: $color_second;
	color: $color_prime;
	font-size:100%;
}

// Titres
//
// Titres de rangs `hn`
//
// Markup: headings.hbs
//
// Styleguide 1.titres
%titres {
	font-weight: bold;
	font-family: $serif_richer;
}

h1 {
	@extend %titres;
}
h2 {
	@extend %titres;
}
h3 {
	@extend %titres;
}

// Typographie
//
// ----------------------------------------
//
// Toute la typographie ci-dessous (stockée dans `_general.scss`)
//
// Markup: typography.hbs
//
// Styleguide Typography

li {
	margin: 1em 0;
	.footer & {
		margin:0;
	}
}

// Blockquotes
//
// En italique sauf ce qui est habituellement en italique.
// De plus les `footer` des `blockquote` reprennent une présentation normale.
//
// Markup: blockquote.hbs
//
// Styleguide Typography.blockquote

em,i, blockquote, q, cite { font-style:italic; }
q em, blockquote em, q i, blockquote i, q cite, blockquote cite { font-style:normal; }
/* Footers */
blockquote footer { font-style:normal; }
blockquote footer:before { content: '\2014\00A0';}
blockquote footer i, blockquote footer em, blockquote footer cite { font-style:italic; }
