/* 40em.scss : when pages are larger than 40 em */

// Responsive
// 
// Tout ce qui s'applique à plus de 40em
// 
// Styleguide: RWD

// Headings
// 
// Tailles de titres en fonction de la longueur
// 
// .heading-size1	- Taille la plus grande
// .heading-size2	- Taille moyenne
// .heading-size3	- Taille la plus petite
// 
// Markup: headings.hbs
// 
// Styleguide: RWD.headings

.heading-size1 { 
	font-size: 2em;
}

.heading-size2 { 
	font-size: 1.5em;
}

.heading-size3 { 
	font-size: 1em;
}
