// Body : layout
//
// Mise en page par défault : rien. Les marges seront portées par les conteneurs internes.
//
// Markup:
// <div class="outer">
// 	<div class="inner">Le texte est dans le double conteneur
// 		<code>.outer</code> &gt; <code>.inner</code>.
// 	</div>
// </div>
//
// Styleguide Layout

body {
	padding:0.5em;
}

img {
	max-width:100%;
	height:auto !important;
}