// Mixins
//
// Styleguide mixins

// Display test : `display-test`
//
// Afficher le texte `@include display-test;` en Redacted Script
//
// Markup: <span style="font-family:'Redacted Script'">Texte d'exemple stylé en Redacted Script.
// Au passage on note que Redacted Script ne gère pas les accents</span>
//
// Styleguide mixins.display-test
@mixin display-test {
	font-family: 'Redacted Script';
}


// Credit: https://gist.github.com/ijy/1441967
// found via http://marieguillaumet.com/refonte-mon-portfolio-du-responsive-en-em-seconde-partie/
//
// examples :
//
// $base-font-size: 15px;
//
// h1 {
// 	font-size: em(21px, 15px); // Outputs 1.4em
// }
@function em($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

